* {

    margin: 0px;
    padding: 0px;
    font-family: "Bebas Neue", sans-serif;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    letter-spacing: .2rem;
}

body {

    background-color: #cfcfcf;

}

h1 {

    color: #d0372d;
    
}

.fade {


    background-image: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0));
    height: 100%;

}

.titulo {

    display: flex;
    flex-wrap: wrap;
    margin-right: 20%;
    margin-left: 10%;
    padding-top: 8%;

}

.titulo-section{

    text-align: left;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 10%;

}

.titulo-section-temporadas{

    text-align: right;
    font-size: 30px;
    margin-top: 5%;
    margin-right: 10%;

}

.titulo-section-personagens{

    text-align: right;
    font-size: 30px;
    margin-top: 5%;
    margin-right: 10%;

}

.titulo-section-manga{

    text-align: left;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 10%;

}



.banner-div {

    z-index: 1;
    height: 295px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://i.pinimg.com/originals/ca/3d/d2/ca3dd24c5181b47371e587c9d68e3334.jpg');

}

.nav {
    z-index: 2;
    background-color: rgb(221, 221, 221);
    text-align: center;
    width: 70%;
    position: absolute;
    border-radius: 20px;
    margin-top: -1%;
    height: 43px;
}

.container {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

.nav ul {

    padding: 4px;
    margin: 5px;

}

.nav ul li {

    display: inline;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav ul li a {

    text-decoration: none;
    color: #2a5aa6;

}

.nav ul li a:hover {

    text-decoration: none;
    color: #d0372d;
    transition: 0.5s;
}

.nav ul li:hover {

    background-color: rgb(196, 196, 196);
    border-radius: 20px;
    transition: 0.5s;

}

section {

    display: flex;

}

.section {

    padding: 5%;

}

.section img {

    width: 578px;
    height: 434px;

}

.section-texto {

    margin-right: 10%;

}

.section p {

    font-family: "Outfit", sans-serif;
    text-align: justify;
    padding: 10px;
}

.divisao {

    width: 50%;

}

.section-geral {
    width: 50%;
    float: right;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: -25%;
}

.row {

    display: flex;
    flex-wrap: wrap;

}

.align-items-center {
    align-items: center !important;
}

.coluna {

    flex: 0 0 auto;
    width: 50%;

}

.coluna-larga {

    margin-left: 8%;
    flex: 0 0 auto;
    width: 40%;

}

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
  }
  .hr-style {

    position: relative;
    border-width: 5px;
    border-color: hsl(0, 0%, 50%) transparent;
    height: 11px;
    border-style: double;
    width: 20%;

  }

  .lista-cards {

    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 5%;
  }
  
  .card {

    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;

  }
  
  .card .card-image {

    width: inherit;
    height: inherit;
    border-radius: 40px;

  }
  
  .card .card-image img {

    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;

  }
  
  .card .card-titulo {

    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
    color:#4386c4;
    background-color: white;
    position: relative;
  }
  
  .card:hover {

    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
    
  }

  .banner-central{

    background-image: url('https://i.pinimg.com/originals/ff/c7/41/ffc741a4e195874d3f2ef122c3609853.gif');
    width: 50%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    
  }

  .imagem-oda{

    background-image: url('https://pm1.aminoapps.com/7397/33aa7ffc7179d3c079aaa3851710a2229fa9b1e4r1-621-580v2_00.jpg');
    width: 50%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 5%;
    padding-top: 5%;
    
  }

  .section-anime{

    background-color: white;
    display: block;
  }

  .section-anime p{

        text-align: justify;
        font-size: 20px;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 5%;
  }


  .texto-manga{

    text-align: justify;
    font-size: 20px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

  .titulo-section-anime{

    text-align: left;
    font-size: 40px;
    margin-left: 10%;
    padding-top: 5%;

}

footer{
    padding: 3%;
    background-color: #d0372d;
    height: 200px;
}

footer h1{

    color: white;
    letter-spacing: 5px;

}

footer p{
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    font-size: 20px;

}

footer ul li{
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px;

}

footer ul li a{

    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

footer ul li a:hover{

    text-decoration: none;
    color:#4386c4;
    letter-spacing: 2px;
    transition: 0.4s;
}

.copyright{
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    font-size: 10px;
}